<blockquote><%= comment.content %>
  <cite><%= comment.author %></cite>
</blockquote>

<p>
  <%= link_to "Destroy Comment", [comment.post, comment],
               method: :delete,
               data: { confirm: "Are you sure?" } %>
</p>
