<% provide(:title, 'Home') %>
<div class="small-11 small-centered large-8 columns">
  <div class="small-6 columns large-6"><h4>Web Developer <small>Seattle, WA</small></h4></div>
  <div class="small-6 columns large-1 large-offset-5"><ul class="clearing-thumbs clearing-feature" data-clearing><li class="clearing-featured-img"><a href="black_and_white_jason_thumba_200.jpg"><img data-caption="thumb caption here..." src="black_and_white_jason_thumba_050-th-sm.jpg"></a></li></ul></div>
<div class="large-11 large-centered columns">
<hr>
<h6>Focus</h6>
<p>
  Web Applications, Content Management, Project Management,
  Mobile Video on Demand & Live Streaming.
</p>
<h6>Status</h6>
<p>
  Attending Code Fellows Rails Boot Camp. Code Fellows is a world-class immersive coding bootcamp taught by
  industry practitioners in the heart of Seattle’s tech community.<br />
  Code Fellows is designed to take individuals with moderate coding experience
  and turn them into great software engineers.
</p>
<h6>Tools</h6>
<p>
  <span class="radius secondary label">Ruby on Rails</span>
  <span class="radius secondary label">SQL</span>
  <span class="radius secondary label">Postgres</span>
  <span class="radius secondary label">Databases</span>
  <span class="radius secondary label">UX</span>
  <span class="radius secondary label">UI</span>
  <span class="radius secondary label">Design</span>
  <span class="radius secondary label">Javascript</span>
  <span class="radius secondary label">VOD</span>
  <span class="radius secondary label">Git</span>
  <span class="radius secondary label">Web Applications</span>
  <span class="radius secondary label">Unix-based OS</span>
  <span class="radius secondary label">Gems</span>
  <span class="radius secondary label">Minitest</span>
  <span class="radius secondary label">jQuery</span>
  <span class="radius secondary label">CSS</span>
  <span class="radius secondary label">HTML</span>
  </p>
<h6>Activities & Societies</h6>
<p>
  <%= link_to 'http://codefellows.org', 'http://codefellows.org' %>
</p>
<hr>
</div>
</div>
